NER/data/*
NER/out/checkpoints/*
NER/out/logs/*
OCR/data/*
OCR/experiments/*
!NER/data/.gitkeep
!NER/data/preprocess.py
!OCR/data/.gitkeep
!OCR/experiments/.gitkeep
!.gitignore
*.pyc
__pycache__/

.venv/
.env
